.modalito {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;/* IE6-7 */
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
  padding: 8px;
  background:rgba(0,0,0,0.2);
}

.modalito .content{
	background: #fff;
	position: relative;
    overflow-y: auto;
    z-index: 1051;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 10px;
}

.modalito .close{
	position:absolute;
    background:url(/modalito/img/close.png) 0 0 no-repeat;
	width:24px;
	height:27px;
	display:block;
	text-indent:-9999px;
	top:-7px;
	right:-7px;	
	z-index: 1052;
	cursor: pointer;
}


.modalito-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modalito-backdrop.fade {
  opacity: 0;
}
.modalito-backdrop,
.modalito-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.mhide{
  display:none;
}

.mshow{
  display: block;
}